.body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
.container {
    width: 201vh;
    height: 100vh;
    background-color: rgb(77, 172, 204);
    border: 5px dashed rgb(0, 0, 0);
}
.box1 {
    width: 20vh;
    height: 20vh;
    background-color: rgb(255, 0, 0);
    border: 5px solid rgb(0, 0, 0);
    animation-name: rightmovement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes rightmovement {
    0% {
        margin-left: 0vh;
        background-color: rgb(255, 0, 0);
    }
    50% {
        margin-left: 180vh;
        background-color: rgb(0, 255, 0);
    }
    100% {
        margin-left: 0vh;
        background-color: rgb(255, 0, 0);
    }
}
.box2 {
    width: 20VH;
    height: 20vh;
    background-color: rgb(0, 0, 255);
    border: 5px solid rgb(0, 0, 0);
    animation-name: leftmovement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}
@keyframes leftmovement {
    0% {
        /* margin-right: 0vh; */
    
        background-color: rgb(0, 0, 255);
    }
    50% {

        margin-left: 180vh;
    
        background-color: rgb(255, 255, 0);
    }
    100% {
        /* margin-right: 0vh; */
        background-color: rgb(0, 0, 255);
    }
}
.CIRCLE {
    width: 20vh;
    height: 20vh;
    background-color: rgb(255, 0, 255);
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
    animation-name: circlemovement;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
/* @keyframes circlemovement {
    0% {
    top: 1%;
    left: 5%;
        background-color: rgb(255, 0, 255);
    }
    25% {
    top: 20%;
    left: 10%;
        background-color: rgb(0, 255, 255);
    }
    50% {
    top: 10%;
    left: 40%;
        background-color: rgb(255, 0, 255);
    }
    100% {
    top: 90%;
    left: 40%;
     background-color: rgb(255, 0, 255);
     } */
      @keyframes circlemovement {
    0% {
        margin-left: 0vh;
        background-color: rgb(255, 0, 255);
    }
    50% {
        margin-left: 180vh;
        background-color: rgb(0, 255, 255);
    }
    100% {
        margin-left: 0vh;
        background-color: rgb(255, 0, 255);
    }
}