.box {
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 2px solid black;
    transition: all 0.5s ease;
}
.box:hover {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 50%;
}