body {
  font-size: 25px;
  box-sizing: border-box;
  background-color: antiquewhite;
}
p {
  color: rgb(87, 72, 52);
  font-family: sans-serif;
}
ul {
  list-style: none;
  text-align: end;
  padding: 20px;
  border: 5px solid black;
  background-color: rgb(207, 129, 12);
  color: rgb(190, 13, 13);
}
li:hover {
  color: rgb(216, 43, 216);
  cursor: grab;
}
