* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
nav {
  width: 100%;
  height: 60px;
  background-color: rgb(89, 9, 163);
  position: fixed;
  z-index: 1;
  top: 0;
}
body {
  background-color: antiquewhite;
  line-height: 1.2rem;
  font-family: monospace;
}
main {
  height: 350vh;
  width: 50%;
  border: 2px solid black;
  color: rgb(27, 2, 2);
  position: relative;
  left: 30%;
  right: 30%;
  padding: 110px 50px;
}
.asidecontainer {
  width: 100px;
  height: 150vh;
  position: absolute;
  top: 0;
}
aside {
  width: 300px;
  height: 80vh;
  background-color: aqua;
  position: sticky;
  top: 100%;
  float: right;
}
.content {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  border-radius: 40px;
  background-color: coral;
}
footer {
  width: 100%;
  height: 200px;
  background-color: black;
}
