/* .box1{
    background-color: lightseagreen;
    height: 500px;
    width: 500px;
}
@media screen and (max-width: 600px){
    .box1{
        background-color: lightcoral;
        height: 600px;
        width: 600px;
    }
    
} */

.container{
    background-color: antiquewhite;
    border: 5px solid black;
    margin: 20px;
    padding: 20px;
    display: flex;
  
}
.box1{
    width: 100px;
    height: 100px;
    background-color: coral;
    border: 2px solid black;
    margin: 20px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: rgb(109, 255, 80);
    border: 2px solid black;
    margin: 20px;
    /* flex-grow: 1; */
}
.box3{
    width: 100px;
    height: 100px;
    background-color: rgb(219, 10, 80);
    border: 2px solid black;
    margin: 20px;
    /* flex-grow: 1; */
}
.box4{
    width: 100px;
    height: 100px;
    background-color: rgb(18, 110, 117);
    border: 2px solid black;
    margin: 20px;
    /* flex-grow: 1; */
}
@media screen and (max-width: 600px){
    .container{
        flex-direction: column;
    }
}
@media screen and (min-width: 600px){
    .container{
        flex-direction: row;
    }
}