body {
  font-size: 25px;
  text-align: center;
  background-color: rgb(224, 192, 192);
}
h1 {
  color: rgb(182, 15, 15);
}
h2 {
  color: rgb(142, 120, 161);
}
h3 {
  color: rgb(142, 120, 161);
}
p {
  font-family: monospace;
}

/* .highlite {
    font-weight: bolder;
    background-color: hotpink;
  } */

#ttt {
  background-color: blue;
}
